#  Proposition d'agencement du code pour que ce soit moins random

  ### Model Config ###

  ### Modules ###

  ### Constants ###

  ### Associations ###

  ### Macros ###

  ### Scopes ###
  
  ### Validations ###

  ### Callbacks ###

  ### State machines ###

  ### Class methods ###

  ### Instance Methods ###
