.col.s12
  .card.notice-card#welcome-notice
    .card-content.flow-text
      %p
        Hello there! <strong>Commizion</strong> is a service to <strong>help art lovers find awesome artists easily and artists find new customers</strong>.
        Our goal is to make the whole process of commissioning artists a lot easier: you can browse detailled offers, get notified when your favorite
        artists open their commissions, link your character references and communicate with the artist without having to go through all your notes.
      %p
        <strong><a href="#{new_user_registration_path}">Join us</a></strong> anytime you want, it's free for both commissioners and artists ♥

    .card-action.right-align
      = link_to "Close", "#", class: 'black-text', data: { "close-notice": "#welcome-notice" }
