.mui--text-body1
  - if @quotation.proposal.present?
    = raw t('.body', {                                                                         |
          commissioner_link: h(profile_url(user_id: @quotation.commissioner.slug)), |
          commissioner_name: h(@quotation.commissioner.name),                                  |
          quotation_link: h(quotation_url(@quotation)),                                        |
          proposal_title: h(@quotation.proposal.title)                                         |
      })                                                                                       |
%br/
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td.mui-citation
      = format_text(@quotation_comment.body)
      - @quotation_comment.attachments.each do |attachment|
        %div
          = link_to attachment.original_filename || t(".attachment"), attachment.file_url
%br/
%br/
.mui--text-center
  %a.mui-btn.mui-btn--primary{:href => "#{quotation_url(@quotation)}", :target => "_blank"}= t('.show_quotation')
