%ol.collection
  %li.collection-item
    Put the following code anywhere in the <strong>About me</strong> section of your profile: <code>#{profile.generate_verification_code_for(site)}</code>

  %li.collection-item
    Your account will be automatically validated soon after you save your profile. Once this is done, you can safely remove the code from your profile.
