%p
  Commizion is a website to help art lovers find awesome artists easily, and artists to find new customers.
%br

%p
  %strong Our goal is to help customers:
  %ul.collection.comments
    %li.collection-item Find great available artists within their budget.
    %li.collection-item Find artists matching their ideas.
    %li.collection-item Give references for their characters.
%br
%p
  Our primary concern for artists is to put an end to the
  %em "Are you open for commissions?"
  or
  %em "What are your prices?"
  that artists have a hard time dealing with on most online art-gallery.
  %br
  %br
%p
  %strong Our service will help you:
  %ul.collection.comments
    %li.collection-item Make clear what kind of services you provide, how much time it usually takes and how much it usually costs.
    %li.collection-item Tell everyone when you are open, and what kind of slots you are available to do.
    %li.collection-item Keep your customers informed about their commission progress.
  %br
%p
  We hope you'll enjoy spending time here!

%p.signature
  %em The Commizion team <3
