%strong The following rules apply on any content you upload or sell on Commizion:
%ol.collection.comments
  %li.collection-item
    Pictures or commissions depicting human characters under 18 in explicit sexual situation are forbidden.
  %li.collection-item
    Selling weapons, drugs, medicines or any illegal items is forbidden.
  %li.collection-item
    Hate speech is forbidden.
  %li.collection-item
    This list is not exhaustive and may be completed at any time.
  %li.collection-item
    Please get in touch with us on
    = link_to "Twitter", "https://twitter.com/commizion", target: "_blank"
    if you are not sure about the acceptability of your proposal.
