%ol.collection.comments
  %li.collection-item
    By using Commizion you agree to all the following rules.
  %li.collection-item
    You must be 13 or older to use Commizion.
  %li.collection-item
    You agree to use truthful information about your identity as an artist or commissioner and not to impersonate anyone.
  %li.collection-item
    You agree not to use any material, text, username or avatar, on Commizion, that are forbidden under French law.
  %li.collection-item
    We reserve the right to remove any content at any time without prior notice.
  %li.collection-item
    By uploading content on Commizion, you grant us permission to use and alter this content for the sole purpose of providing our service.
  %li.collection-item
    Your personal information is not sold or shared to third parties.
  %li.collection-item
    We reserve the right to remove any account if it violates those rules.
