/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require ./materialize-init
 *= require materialize-tags
 *= require jquery.atwho
 *= require_self
 *= require tags
 *= require at
 *= require assets
 *= require avatar
 *= require quotations
 *= require proposals
 *= require attachment_button
 *= require users/profiles
 */

body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: image-url('background/ciel_web_mini.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  min-height: calc(100vh + 240px);
  flex-direction: column;
}

.fixed-action-btn {
  z-index: 996;
}

.fill {
  width: 100%;
  height: 100%;
  display: block;
}

#error_explanation {
    padding: 16px 0;
}

#error_explanation h2 {
    font-size: 16px;
    color: #dd0000;
    margin: 0;
    font-weight: 400;
}
#error_explanation ul li {
    font-size: 12px;
}

#feedback textarea {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  padding: 12px;
  width: calc(100% - 24px);
}

footer .container {
  position: relative;
}

#social-links {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -35px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.full-height {
  min-height: calc(100vh - 200px);
}

main {
    flex: 1 0 auto;
}

li.disabled {
    opacity: 0.4;
}

li.disabled a {
    pointer-events: none;
    cursor: default;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

nav .brand-logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: inherit;
}

hr.or {
  margin: 50px 0 20px 0;
  position: relative;
  &:before {
    content: "or";
    position: absolute;
    left: calc(50% - 30px);
    font-size: 2em;
    top: -25px;
    background: white;
    padding: 0 12px;
  }
}

[data-check] {
    cursor: pointer;
}

.z-depth-05 {
  box-shadow: none;
  border: 1px solid #dcdcdc;
}

.side-nav li i.material-icons {
  line-height: 48px;
  float: right;
}

.side-nav .userView .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.disabled-with-tooltip, .btn-flat.disabled-with-tooltip {
  background-color: transparent;
  color: #b3b3b3 !important;
  cursor: default;
}

.btn.twitter-signin {
  padding-right: 5px;
  background-color: #1da1f2;
  &:hover {
    background-color: #0d91e2;
  }
  img {
    float: right;
    margin-left: 1em;
  }
}

.wide-banner {
  padding-top: 1em;
  padding-bottom: 1em;
  .button_to input {
    margin-bottom: 0 !important;
  }
  .btn, .btn-flat {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 6px;
    margin-right: 6px;
    i.material-icons {
      margin-left: 6px;
    }
  }
  .btn:first-child, .btn-flat:first-child {
    margin-left: 0px;
  }
  .btn:last-child, .btn-flat:last-child {
    margin-right: 0px;
  }
  .btn-flat.active {
    background: rgba(0, 0, 0, 0.1);
  }
  input {
    margin-bottom: 1em !important;
  }
  .input-field.with-checkbox {
    margin-top: -4px;
  }
}

.card-filler {
  display: flex;
  .card {
    flex-grow: 1;
    opacity: 0.85;
  }
}

.card .card-action .approximated-usd-price {
  font-size: 1.8em;
  line-height: 2.6em;
  font-weight: 400;
  // color: #333;
}

.card .card-content .approximated-usd-price {
  color: #999;
  font-size: 0.8em;
  line-height: 0.8em;
}

nav li .avatar {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.proposal-tooltip {
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  margin: 1em;
}

.card {
  margin: 1rem 0 0 0;

  &.page-card > .card-content {
    min-height: calc(100vh - 187px);
  }
  &.page-card-with-image > .card-content {
    min-height: calc(100vh - 487px);
  }
  .empty-card-action {
    min-height: 78px;
  }

  &.title-card {
    .card-content {
    }
    h4 {
      text-transform: uppercase;
    }
  }

  &.notice-card {
    .card-content {
      p {
        margin: 1em;
        text-align: justify;
      }
    }
  }

  &.pagination-card {
    .card-content {
      padding: 0;
      .pagination {
        padding: 15px;
      }
    }
  }

  .rating {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
    margin-top: 2rem;
    h5 {
      font-size: 1.5rem;
    }
    li {
      display: inline;
      a {
        color: #aaa;
        transition: color 0.15s linear;
        &.current, &:hover {
          color: #333;
          transition: color 0.1s linear;
        }

        i.material-icons {
          font-size: 52px;
        }
      }
      .explanation {
        opacity: 0;
        position: absolute;
        bottom: -2rem;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        font-style: italic;
        transition: opacity 0.1s linear;
      }
      a:hover + .explanation {
        opacity: 1;
      }
    }
  }
}

.card.character {
  min-height: 300px;
}

.card .collapsible {
  box-shadow: none;
}

.card:not(.profile) .collapsible  {
  border: none;
}

.card .card-content .tag {
  padding: 4px 8px;
  line-height: 30px;
  white-space: nowrap;
}

.card .profile-bar h4 {
    margin-top: 6px;
}

.card .visibility-switch label {
  margin-top: 6px;
}

.card.asset .visibility-switch label {
  margin-top: 10px;
}

.card .switch#pwyw-switch {
  margin-top: 8px;
   label {
    font-size: 0.8em;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.conversation h5 {
    margin-top: 0;
}

#user_dropdown {
    width: 200px;
}

#forgot-password {
    padding-bottom: 16px;
}

#error_explanation {
    padding: 16px 0;
}

#error_explanation h2 {
    font-size: 16px;
    color: #dd0000;
    margin: 0;
    font-weight: 400;
}
#error_explanation ul li {
    font-size: 12px;
}

.site-link {
  .material-icons {
    font-size: 0.8em;
    vertical-align: super;
  }
}

.page h4 {
  padding-bottom: 1.5em;
}

.page .signature {
  padding-top: 2em;
  text-align: right;
}

header {
  @media(max-width: 601px) {
    .col.s12 {
      padding-right: 0;
    }
  }
  @media(max-width: 1200px) {
    .nav-wrapper {
      &.focused {
        background: #fff !important;
        transition: all 0.2s;
        .button-collapse {
          color: #37474f;
          transition: all 0.2s;
        }
      }
    }
  }

  &.navbar-fixed {
    height: 64px;
    .nav-wrapper {
      background: #37474f;
      height: 64px;
    }
  }

  nav {
    .button-collapse i, .input-field label i {
      height: 64px;
      line-height: 64px;
    }
  }

  .nav-wrapper .notifications {
    position: relative;
  }
  .nav-wrapper .material-icons {
    font-size: 2.2rem;
    content: "notifications";
  }
  .nav-wrapper .notifications .notification-count {
    position: absolute;
    bottom: 22px;
    right: 22px;
    line-height: 20px;
    min-width: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
    letter-spacing: -1px;
  }
}

.flex-align {
  display: flex;
  justify-content: space-between;

  &.flex-start {
    justify-content: flex-start !important;
  }
}

.valign {
  width: 100%;
}

.nav-divider {
    clear: both;
    padding-top: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul.pagination {
  li a {
    color: rgba(0, 0, 0, 0.8);
  }
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.flash {
    padding: 16px;
}

input:checked .card {
    border: 2px solid blue;
}

.card h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.card.proposal {
  h4.title {
    margin: 0 0 6px 0;
  }
  .artist-avatar {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-right: 12px;
    margin-left: -2px;
  }
  i[data-role='wish-trigger'] {
    cursor: pointer;
    &:after {
      content: "bookmark_border";
      position: absolute;
      color: #111;
      font-size: 30px;
      top: 10px;
      right: 10px;
      transition: color 0.4s;
    }
    &:before {
      content: "bookmark";
      position: absolute;
      color: #fff;
      font-size: 26px;
      top: 12px;
      right: 12px;
      transition: all 0.4s;
    }
    &[data-wish-id] {
      &:after {
        color: #f57f17;
        transition: color 0.2s;
      }
      &:before {
        color: #ffee58;
        transition: all 0.2s;
      }
    }
  }
}

.card h5 {
    font-size: 1rem;
    font-weight: 300;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

p a.ellipsis {
  display: inline-block;
  vertical-align: bottom;
}

.card h4.top {
    margin-top: 0;
}

.card.horizontal h4 {
    margin-top: 0px;
}

.card .banner-selector label {
  position: absolute;
  z-index: 900;
  padding: 12px 12px;
  top: 0px;
  right: 0px;
  height: 24px;
  border: 8px solid transparent;
}

.card .banner-selector label::before {
  background: #fff;
  width: 24px;
  height: 24px;
  margin: 0;
}

.card.horizontal .card-image {
    min-width: 38%;
    background-size: cover;
    background-position: 50% 50%;
}

.card.horizontal .card-stacked {
    max-width: 62%;
}

a.card-image {
  display: block;
}

.card {
  .top-card-image {
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
  }

  .style-badge {
    position: absolute;
    right: 0px;
    bottom: 12px;
  }

  .card-image .btn-floating {
    margin: 8px;
  }

  .card-image .badge {
      margin-top: 12px;
      margin-right: 12px;
      font-weight: 400;
  }

  .card-action {
    > .button_to {
      display: inline-block;
    }

    a {
      line-height: 37px;
    }
    &:right-align a {
      margin-left: 8px;
    }

    &.flex-align {

      *:first-child a, > a:first-child {
        margin-left: 0;
        margin-right: 8px;
      }

      *:last-child a, > a:last-child {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }

  .card-action {
    .btn-floating {
      box-shadow: none;
      background-color: transparent;
      > i.material-icons {
        color: #333;
      }
    }
    .btn-full {
      line-height: 77px;
      height: 77px;
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: center;
      box-shadow: none;
      font-size: 16px;
    }
    a.btn-full:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
      margin-right: 0;
    }
    &.flex-align {
      .btn-full:nth-child(1) {
        border-bottom-right-radius: 0;
      }
      .btn-full:nth-child(2) {
        border-bottom-left-radius: 0;
      }
    }
  }

  .card-image > .button_to {
      margin: 18px;
      text-align: right;
  }

  .card-image > .button_to .btn {
      padding: 0 1.5rem;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
  }

  .card-image .card-title {
      color: rgba(0, 0, 0, 0.6);
  }

  .card-image .card-title-onbright {
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
  }

  .card-image .card-title.card-title-onbright a {
    color: #fff;
  }

  .card-image .card-title.card-title-onbright a:hover {
    text-decoration: underline;
  }

  .card-image .asset-description {
    padding: 0 20px;
    font-size: 1.1em;
    line-height: 48px;
    z-index: 1;
    .material-icons {
      vertical-align: middle;
    }
  }

  .card-image .card-title form {
      display: inline-block;
  }

  .card-cover {
      height: 300px;
      max-height: 300px;
      overflow: hidden;
  }

  .card-cover .material-placeholder img {
      width: 100%;
      opacity: 0;
      transition: 0.1s ease;
  }

  .card-cover .material-placeholder img.active {
      opacity: 1;
      transition: 0.1s ease;
  }

  .card-empty-cover {
      height: 75px;
      max-height: 76px;
      overflow: hidden;
  }

  .card-action.no-border {
      border-top: none;
      padding-top: 10px;
  }

  .card-action.no-bottom {
      padding-bottom: 0px;
  }

  .card-notice {
    font-size: 0.85em;
  }

  .card-content .card-action.card-flex-actions, .flex-align {
      display: flex;
      justify-content: space-between;
  }

  .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):last-child {
    margin-right: 0;
  }

  .card-action a.no-right-margin {
    margin-right: 0 !important;
  }
}

.create-btn {
  margin-top: 4em;
  margin-bottom: 1em;
  text-align: center;
}

.collection.page-collection {
  min-height: calc(100vh - 102px);
  background: #fff;
  margin-bottom: 0;
}

.collection-item .more-badge-wrapper {
    height: 64px;
}

.collection-item .comment-link {
    padding-top: 8px;
}

.collection.comments {
    border: 0;
    margin: 0;
}

.collection.comments .file-field {
  width: calc(100% - 100px);
}

.collection.comments .file-field .file-path-wrapper {
  display: inline;
}

.collection.comments .file-field input.file-path {
  margin: 0;
  height: 3em;
  border-bottom: none;
  width: calc(100% - 70px);
  text-overflow: ellipsis;
}

.collection.comments .file-field input.file-path.invalid {
  border-bottom: none;
  box-shadow: none;
}

.comment-image-container {
  position: relative;
}

.comment-image-container a {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.collection-item .title {
  display: inline-block;
  margin-right: 38px;
}

.collection-item .date {
  font-size: 12px;
  line-height: 24px;
  max-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.collection.comments .collection-item.avatar .title {
    font-size: 14px;
    font-weight: bold;
}

.question .response, .question .body {
  margin-right: 50px;
}

.collection-item .materialize-textarea {
    margin: 0;
    padding-top: 0;
}

.comments .collection-item .ago {
  font-size: 0.7em;
  font-weight: 400;
}

.row .row-no-padding .col {
    padding-left: 0;
    padding-right: 0;
}

.row.row-no-bottom-margin {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 img, h2 img, h3 img, h4 img, h5 img {
  vertical-align: bottom;
}

h4 .see-more {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

a p {
    color: #000;
}

label, .input-field label {
  color: #757575 ;
}

::-webkit-input-placeholder { /* Chrome */
  color: #757575 ;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #757575 ;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #757575 ;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #757575 ;
  opacity: 1;
}

.collection.full-height {
    background: #fff;
}

.card .card-action a.disabled {
    color: rgba(0, 0, 0, 0.3) !important;
}

.card .card-action.empty-label [type="checkbox"] + label {
    padding-left: 25px;
}

.input-field {
  &.input-field-no-top-margin {
    margin-top: 0;
  }
  &.checkbox-field {
    margin-top: -26px;
    margin-bottom: 26px;
  }
  &.with-info {
    margin-bottom: 32px;
    textarea, input[type='text'], input[type='email'], input[type='password'] {
      margin-bottom: 0;
    }

    .input-info {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 4px;
      i.material-icons {
        font-size: 12px;
        vertical-align: middle;
      }
    }
  }

  .static-label, .static-label.active {
    top: 0;
    position: inherit;
    color: #333;
    font-size: 1em;
  }

  &:not(.with-info) {
    .character-counter {
      margin-top: -20px;
    }
  }
}

form:not(:valid) {
  .card-action, .modal-footer {
    .btn, .btn-flat {
      pointer-events: none;
      cursor: default;
      opacity: 0.3;
    }
  }
}

form .inline-button {
    margin-top: 14px;
}

.select-wrapper.white-carret span.caret {
    color: #fff;
}

.footer-copyright ul {
    margin-top: 0;
}

.footer-copyright ul li {
    display: inline-block;
    margin-left: 12px;
}

.filter-modal {
  .btn, .btn-flat {
    width: 100%;
    text-align: center;
  }
  .btn-flat.active {
    background: rgba(0, 0, 0, 0.1);
  }
}

.profile-section-nav {
  justify-content: flex-start;

  .btn, .btn-floating, .btn-flat {
    flex-shrink: 0;
  }
}

.avatar-upload {
  .avatar {
    position: relative;
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: 50% 50%;

    .preloader-wrapper {
      display: none;
      width: 100%;
      height: 100%;
    }
    .edit-overlay {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;

      .material-icons {
        color: #fff;
        font-size: 32px;
        line-height: 128px;
      }
    }
    &:hover {
      .edit-overlay {
        opacity: 0.8;
      }
    }
  }

  &.uploading {
    .avatar {
      .material-icons {
        display: none;
      }
    }
    .preloader-wrapper {
      display: block;
    }
    .edit-overlay {
      opacity: 0.8;
    }
  }
  input {
    display: none;
  }
}
.card.announcement {
  .card-content .text {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: justify;
    }
    ul {
      padding-left: 40px;
      & > li {
        list-style-type: disc;
      }
    }
  }
}

.set-gravity-modal {
  .flow-text {
    text-align: justify;
  }
  .gravity-container {
    position: relative;
    display: inline-block;
    img {
      max-height: 500px;
      max-width: 100%;
    }
    .gravity-hint {
      $gravity-hint-size: 16px;
      position: absolute;
      display: block;
      width: $gravity-hint-size;
      height: $gravity-hint-size;
      border-radius: $gravity-hint-size / 2;
      margin-left: -$gravity-hint-size / 2;
      margin-top: -$gravity-hint-size / 2;
      background: #009688;
      border: 2px solid #fff;
    }
  }
}

#nav-search-wrapper {
  width: 100%;
  padding-left: 0.75rem;
  .input-field {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    input::placeholder {
      color: #fff;
    }
    input:focus::placeholder {
      color: #333;
    }
  }
}

#search-form {
    position: relative;

    button {
      padding-left: 32px;
      padding-right: 32px;
    }
    #results-count {
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 6px;
      text-transform: uppercase;
    }
    .col.s12 button {
      margin-top: 0px;
    }
    .collapsible {
      border: none;
      box-shadow: none;
      margin: 0;
      .collapsible-header {
        display: flex;
        justify-content: space-between;
        min-height: auto;
        & > * {
          line-height: 35px;
          .material-icons {
            line-height: 35px;
          }
        }
      }
      .collapsible-header:not(.active) {
        #search-options-toggle {
          i.material-icons.expand-less {
            display: none;
          }

          &:after {
            content: "More search options";
          }
        }
      }
      .collapsible-header.active {
        #search-options-toggle {
          i.material-icons.expand-more {
            display: none;
          }
          &:after {
            content: "Less search options";
          }
        }
      }
      .collapsible-header {
        border-bottom: none;
        padding: 0;
        text-transform: uppercase;
      }
      .collapsible-body {
        padding-top: 1em;
        border: 0;
        [data-category] {
          display: none;
        }
      }
    }
}

#messages {
  min-height: calc(100vh - 105px);
  margin-top: 12px;

  #no-conversation {
    .col {
      text-align: center;
      margin-top: 40%;
    }
  }

  #roster {
    border-right: 1px solid #c0c0c0;
    height: calc(100vh - 105px);
    padding: 0;
    overflow-y: auto;
    box-shadow: 3px 0 3px -3px #ddd;

    .collection {
      margin: 0;
      border: 0;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 0;

      .collection-item {
        min-height: 62px;
        height: 62px;
        color: #333;
        &.active {
          color: #fff;
        }
        .title {
          font-size: 14px;
          line-height: 42px;
        }
      }
    }
  }
  #chatbox {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 105px);

    .back-to-roster {
      width: 100%;
      font-weight: bold;
      line-height: 48px;
      height: 48px;
      border-bottom: 1px solid #e0e0e0;
      .material-icons {
        font-size: 2rem;
      }
    }

    .collection {
      .collection-item {
        border: 0;
        background: transparent;
      }
      margin: 0;
      border: 0;
      overflow-y: auto;
    }

    .collection {
      flex: 1;
      .title {
        color: #26a69a;
      }
    }

    form {
      border-top: 1px solid #e0e0e0;

      padding: 12px;
      textarea {
        margin-bottom: 4px;
      }

    }
  }
}

#slide-out {
  .message-count {
    padding: 0 16px;
    float: right;
    color: #fff;
    border-radius: 4px;
    margin-top: 8px;
    line-height: 30px;
  }
}

.nav-wrapper {
  transition: all 0.3s;

  .message-count {
    font-weight: bold;
    padding: 2px 6px;
    margin-left: 4px;
    border-radius: 3px;
    color: #fff;
  }

  .nav-wrapper .message-count:empty {
    display: none;
  }
}

@media (max-width: 992px) {
  .card .card-action:not(.flex-align) {
    & a, & button {
      display: block;
      width: 100%;
    }
    & a {
      text-align: center;
      margin-left: 0;
    }
    & form.button_to {
      width: 100%;
      .btn, .btn-flat {
        width: 100%;
      }
    }
  }

  .wide-banner .btn, .wide-banner .btn-flat {
    width: 100%;
    text-align: center;
  }

  .wide-banner .nav-wrapper ul li {
      line-height: 2.6em;
      width: 100%;
      text-align: left;
  }

  #social-links {
    display: none;
  }

  #messages {
    height: calc(100vh - 96px);

    #roster {
      border-right: none;
      height: calc(100vh - 96px);
      box-shadow: none;
      .collection-item.active {
        .title {
          color: #333;
        }
        background: #fff;
        &:hover {
          background: #ddd;
        }
      }
    }
    #chatbox {
      height: calc(100vh - 96px);
    }
  }

  body {
    min-height: calc(100vh);
    .with-floating-button {
      padding-bottom: 56px;
    }
  }

  .full-height {
    min-height: calc(100vh);
  }

  footer.page-footer .footer-copyright {
    height: auto;
    #internal-links {
      float: none !important;
      li {
        width: 100%;
        display: block;
        margin-left: 0;
      }
    }
  }

  #nav-search-wrapper {
    input {
      width: 100%;
    }
  }
}
