body {
  background: #fff;
  font-family: Arial !important;
  h2 {
    font-size: 2em;
    font-weight: bold;
  }
  h3 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.2em;
    font-weight: bold;
  }
  p {
    margin: 0.5em 0;
  }
}
